.board {
    width: 85%;
    padding: 30px;
    margin-top: 50px; 
    position: relative;
}
.items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  
}
.up-button{
  font-family: fontreg-example;
  font-size: 20px;
  position: fixed;
  bottom: 3vh;
  right: 12%;
  width: 65px;
  height: 65px;
  color: #ffffff;
  background-color:#8FD500;
  -webkit-box-shadow: 0 3px 6px 0px rgba(142, 213, 0, 0.55);
  box-shadow: 0 3px 6px 0px rgba(142, 213, 0, 0.55);
  border: none;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: background-color .25s ease box-shadow .25s ease;
  -webkit-transition: background-color .25s ease box-shadow .25s ease;
  -moz-transition: background-color .25s ease box-shadow .25s ease;
  -ms-transition: background-color .25s ease box-shadow .25s ease;
  -o-transition: background-color .25s ease box-shadow .25s ease;
}
.up-button:hover{
  box-shadow: 0 0 6px 0px rgba(142, 213, 0, 0.267);
  animation: up-roller .5s ;
  cursor: pointer;
  background-color:#8ed50091;
  -webkit-animation: up-roller .5s ;
}
@keyframes up-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



.loading{
  position: absolute;
  left: 48%;
  top: 30vh;
}
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #8FD500;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

