.warning-notification{
    bottom: 5vh;
    left: 20px;
    cursor: pointer;
	z-index: 4;
	position: fixed;
	border: none;
    font-size: 17px;
	color: #ffffff;
	background-color: #8ed500ed;
	padding: 15px 30px;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
}